* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*moved from body. workes here with parallax implentation*/
  scroll-behavior: smooth;
}

/* highlighting theme */
::-moz-selection {
  color: green;
  background-color: #d7e360;
  opacity: 0.5;
  /*text-shadow: 0px 0px 1px black*/
}
::selection {
  color: green;
  background-color: #d7e360;
  opacity: 0.5;
  /*text-shadow: 0px 0px 1px black*/
}

body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: #f5f7eb;
  color: #90a872;
  font-family: Poppins, Arial, sans-serif;
}

h1 {
  font-size: 1.5em;
}

hr {
  border-width: 0px;
  color: #090d05;
  background-color: #090d05;
  width: 100%;
  height: 1px;
}

/* PARALLAX */
/*translate moves image back in z index, while scale returns it to original size.*/
/*Scale Factor:  1 + (translateZ * -1) / perspective    (Keith Clark)*/
/* OR (perspective-distance) / perspective    (Performant Parallaxing)*/
/* for content sections not in parallax groups */
.layer-base {
  /* necessary addition from parallax to disallow background peekthrough */
  position: relative;
  /* most likely also neccessary */
  z-index: 4;
}

.parallax-container {
  width: 100%;
  height: 100%;
  /* to achieve accurate viewport height */
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-perspective-origin: 0 0;
          perspective-origin: 0 0;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.parallax-layer-base {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: 2;
}

.parallax-layer-back {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translateZ(-3px) scale(4);
          transform: translateZ(-3px) scale(4);
  z-index: 3;
}

/* NAVIGATION BAR */
#navbar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  overflow: hidden;
  background-color: #090d05;
  -webkit-box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.2);
}

#navbar li {
  /* so anchors can take up all extra space */
  width: 100%;
  height: 100%;
}

#navbar li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: snow;
  /* transition from hover*/
  -webkit-transition: All 600ms ease;
  transition: All 600ms ease;
}

#navbar li a:hover {
  background-color: #d7e360;
  color: green;
  /* transition to hover*/
  -webkit-transition: 300ms;
  transition: 300ms;
}

/* WELCOME SECTION */
#welcome-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  /*picture element gets squished to lower width than img, therefore defining min-width */
  /* todo: https://stackoverflow.com/questions/27829250/child-margin-doesnt-affect-parent-height */
}

#welcome-section header {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 40%;
}

#welcome-section h1 {
  font-size: 4.5em;
  letter-spacing: -3px;
  /* to keep from breaking to new line */
  white-space: nowrap;
  line-height: 70px;
}

#welcome-section picture {
  min-width: 490px;
}

#welcome-section picture img {
  max-width: 30vw;
  min-width: 450px;
  height: auto;
  border-radius: 50%;
  padding: 10px;
  border: 10px solid #dde3c1;
  background-color: white;
}

#chicagoskyline {
  width: 100%;
  /* keeps original aspect ratio */
  height: auto;
  /* gets rid of fusion line between image and projects section */
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/* PROJECTS SECTION */
#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 0 0 50% 50% / 0 0 3% 3%;
  padding: 150px 0;
  background-color: #090d05;
}

.project-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #273028;
  text-decoration: none;
  color: #90a872;
  max-width: 400px;
  margin: 15px;
  padding: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-position: 0 0;
  /* transition */
  -webkit-transition: All 800ms ease;
  transition: All 800ms ease;
}

.project-tile .project-tile-img {
  height: auto;
  min-height: 200px;
  max-height: 300px;
  max-width: 400px;
  background-color: gray;
}

.project-tile .project-tile-img img {
  width: 100%;
  height: 100%;
}

.project-tile .project-tile-tags {
  padding: 1em;
}

.project-tile .project-tile-body {
  padding: 1em;
}

.project-tile .project-tile-description {
  padding: 1em 0;
}

.project-tile:hover {
  color: green;
  -webkit-box-shadow: 0 4px 15px -1px var(--yellow-green, #d7e360);
          box-shadow: 0 4px 15px -1px var(--yellow-green, #d7e360);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 100ms;
  transition: 100ms;
}

/* CONTACT SECTION */
#contact {
  min-height: 200px;
  background-color: #f5f7eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 4px;
  -webkit-transition: All 800ms ease;
  transition: All 800ms ease;
}

#contact .icon:hover {
  color: green;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#contact i {
  color: #90a872;
  -webkit-transition: All 800ms ease;
  transition: All 800ms ease;
}

#contact i:hover {
  color: #d7e360;
  -webkit-transition: 200ms;
  transition: 200ms;
}
/*# sourceMappingURL=desktop.css.map */