/* white green      #f5f7eb */
/* gray green       #90a872 */
/* light gray green #dde3c1*/
/* black green      #090d05*/

* {
    /*sizing includes borders*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  html,
  body {
    background-color: #f5f7eb;
    font-family: Poppins, Arial, sans-serif;
    scroll-behavior: smooth;
    color: #90a872;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  /* ALL OTHERS */
  @media only screen {

    h1{
      font-size: 1.5em;

    }
    /* fixes other anchors not in nav */
    a {
      position: relative;
      text-decoration: none;
    }
    i {
      color: #90a872;
    }
    i:hover {
      color: #d7e360;
      transition: 600ms;
    }
    .icon:hover {
      color: green;
      transition: 600ms;
    }
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      letter-spacing: 4px;
    }

    hr{
      border-width: 0px;
      color: #090d05;
      background-color: #090d05;
      height: 1px;
      width: 100%;
    }

    /* NAVIGATION */
    #navbar {
      width: 100%;
      height: 100%;
      position: sticky; /* FCC REQ navbar to be at top*/
      top: 0;
      z-index: 10; /*to stay on top of horizontal bar */
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden;
      background-color: #090d05;
      box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.2);
    }
    li {
      /*so anchors can take up all extra space*/
      width: 100%;
      height: 100%;
    }
    li a {
      text-decoration: none;
      color: snow; /*text color*/
      display: flex;
      justify-content: center;
      padding: 20px;
      font-size: 20px;
    }
    li a:hover {
      background-color: #d7e360;
      color: green;
      transition: 400ms;
    }

    /* WELCOME SECTION */
    #welcome-section {
      height: 100vh;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    #welcome-section header {
      max-width:50%;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
    }
    #welcome-section h1 {
      margin: 0;
      padding: 0;
      font-size: 60px;
      letter-spacing: -3px;
      white-space: nowrap;
      line-height: 70px;
    }
    #welcome-section img {
      width: 100%;
      height: auto; /* keeps original aspect ratio */
      max-width: 500px;
      min-width: 350px;
      padding: 10px;
      border-radius: 100%;
      margin: 10px;
      border: 10px solid #dde3c1;
  
      background-color: white;
    }

    #chicagoskyline {
      width: 100%;
      height: auto; /*keeps original aspect ratio */
      transform: translateY(5px); /* gets rid of fusion line between image and projects section */
    }
  
    /* PROJECTS SECTION */
    #projects {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      border-radius: 0 0 50% 50% / 0 0 3% 3%;
      padding-top: 150px;
      padding-bottom: 150px;
      background-color: #090d05;
      overflow: hidden;
    }
    #projects a:hover {
      color: green;
      box-shadow: 0 4px 15px -1px #d7e360;
      transition: 100ms;
    }
    #projects a {
      text-decoration: none;
    }
    .project-tile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      background-color: #273028;
      color: #90a872;
      max-width: 400px;
      margin: 15px;
      padding: 10px;
  
      border-radius: 0px;
      overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  
    .project-tile-img {
      height: auto;
      min-height: 200px;
      max-height: 300px;
      max-width: 400px;
      background-color: gray;
    }
    .project-tile-img img {
      width: 100%;
      height: 100%;
    }
    .project-tile-tags{
      padding: 15px;
    }
    .project-tile-body{
      padding: 15px;
    }
    .project-tile-description{
      padding-top: 10px;
      padding-bottom: 10px;
    }


    /* CONTACT SECTION */
  
    #contact {
      min-height: 200px;
      width: 100%;
      background-color: #f5f7eb;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  