/* white green      #f5f7eb */
/* gray green       #90a872 */
/* light gray green #dde3c1*/
/* black green      #090d05*/

* {
    /*sizing includes borders*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  html,
  body {
    background-color: #f5f7eb;
    font-family: Poppins, Arial, sans-serif;
    scroll-behavior: smooth;
    color: #90a872;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  /* MOBILE */
  @media only screen and (max-width: 500px) {
    /* fixes other anchors not in nav */
    a {
      position: relative;
      text-decoration: none;
    }
  
    /*WELCOME SECTION*/
    #welcome-section {
      height: 100vh; /* FCC REQ for welcome section height */
      width: 90%;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #welcome-section header {
      /*top right bottom left */
      padding-bottom: 10px;
    }
    #welcome-section h1 {
      margin: 0;
      padding: 0;
      font-size: 40px;
      letter-spacing: -3px;
    }
    #welcome-section img {
      width: 30vh;
      height: auto; /* keeps original aspect ratio */
      max-width: 400px;
      min-width: 225px;
  
      border-radius: 100%;
  
      padding: 5px;
      border: 5px solid #dde3c1;
      background-color: white;
  
      align-self: flex-end;
    }
    #navbar {
      width: 100%;
      height: 100%;
      position: sticky; /* FCC REQ navbar to be at top*/
      top: 0;
      z-index: 10; /*to stay on top of horizontal bar */
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden;
      background-color: #090d05;
      box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.2);
    }
    li {
      /*so anchors can take up all extra space*/
      width: 100%;
      height: 100%;
    }
    li a {
      text-decoration: none;
      color: snow; /*text color*/
      display: flex;
      justify-content: center;
      padding: 18px 0 18px 0;
      font-size: 1rem;
    }
    li a:hover {
      background-color: #d7e360;
      color: green;
    }
  
    /*PROJECTS SECTION*/
    #projects {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  
      padding-top: 80px;
      padding-bottom: 80px;
      background-color: #090d05;
      
      border-radius: 0 0 50% 50% / 0 0 1% 1%;
      overflow: hidden;
    }
    #projects a:hover {
      color: green;
      box-shadow: 0 4px 15px -1px #d7e360;
    }
    #projects a {
      text-decoration: none;
    }
    .project-tile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  
      background-color: #f5f7eb;
      color: #90a872;
      max-width: 70vh;
      max-height: 80vh;
      margin: 10px 10px 0 10px;
  
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  
    .project-tile-img {
      height: auto;
      min-height: 200px;
      max-height: 300px;
      max-width: 400px;
      background-color: gray;
    }
    .project-tile-img img {
      width: 100%;
      height: 100%;
    }
    .project-tile-header {
      padding: 10px 0;
      font-size: 1.1rem;
    }
    .project-tile-description {
      padding-bottom: 10px;
    }
  
    #contact {
      width: 100%;
      background-color: #f5f7eb;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    #contact h1 {
      font-size: 15px;
      text-align: center;
    }
  
   
    .icon{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
    .icon .fa-7x{
      font-size: 3rem;
    }
    .icon i {
      color: #90a872;
    }
    .icon p{
      letter-spacing: 3px;
      font-size: 10px;
      color: green;
    }
  }
  
  /* TABLET */
  @media only screen and (min-width: 500px) and (max-width: 750px) {
    /* fixes other anchors not in nav */
    a {
      position: relative;
      text-decoration: none;
    }
  
    /*WELCOME SECTION*/
    #welcome-section {
      height: 100vh; /* FCC REQ for welcome section height */
      width: 100%;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #welcome-section header {
      padding: 10px 40px 15px 5px; /*top right bottom left */
    }
    #welcome-section h1 {
      margin: 0;
      padding: 0;
      font-size: 10vw;
      letter-spacing: -4px;
    }
    #welcome-section img {
      width: 50vh;
      height: auto; /* keeps original aspect ratio */
      max-width: 400px;
      min-width: 200px;
  
      border-radius: 100%;
  
      padding: 5px;
      border: 5px solid #dde3c1;
  
      background-color: white;
  
      align-self: flex-end;
    }
    #navbar {
      width: 100%;
      height: 100%;
      position: sticky; /* FCC REQ navbar to be at top*/
      top: 0;
      z-index: 10; /*to stay on top of horizontal bar */
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden;
      background-color: #090d05;
      box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.2);
    }
    li {
      /*so anchors can take up all extra space*/
      width: 100%;
      height: 100%;
    }
    li a {
      text-decoration: none;
      color: snow; /*text color*/
      display: flex;
      justify-content: center;
      padding: 20px;
      font-size: 1.2rem;
    }
    li a:hover {
      background-color: #d7e360;
      color: green;
    }
  
    /*PROJECTS SECTION*/
    #projects {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  
      padding-top: 80px;
      padding-bottom: 80px;
      background-color: #090d05;
      
      border-radius: 0 0 50% 50% / 0 0 1% 1%;
      overflow: hidden;
    }
    #projects a:hover {
      color: green;
      box-shadow: 0 4px 15px -1px #d7e360;
    }
    #projects a {
      text-decoration: none;
    }
    .project-tile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  
      background-color: #f5f7eb;
      color: #90a872;
      min-width: 400px;
      margin: 15px;
  
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  
    .project-tile-img {
      height: auto;
      min-height: 200px;
      max-height: 300px;
      max-width: 400px;
      background-color: gray;
    }
    .project-tile-img img {
      width: 100%;
      height: 100%;
    }
    .project-tile-header {
      padding: 12px;
      font-size: 1.5rem;
    }
  
    #contact {
      width: 100%;
      background-color: #f5f7eb;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    #contact h1{
      font-size: 1.5rem;
      text-align: center;
    }
    
    .icon{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
    }
    .icon .fa-7x{
      font-size: 5rem;
    }
    .icon i {
      color: #90a872;
    }
    .icon p{
      letter-spacing: 4px;
      font-size: 0.8rem;
      color: green;
    }
  }
  
  /* ALL OTHERS */
  @media only screen and (min-width: 750px) {
    /* fixes other anchors not in nav */
    a {
      position: relative;
      text-decoration: none;
    }
    i {
      color: #90a872;
    }
    i:hover {
      color: #d7e360;
      transition: 600ms;
    }
    .icon:hover {
      color: green;
      transition: 600ms;
    }
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      letter-spacing: 4px;
    }
  
    /* NAVIGATION */
    #navbar {
      width: 100%;
      height: 100%;
      position: sticky; /* FCC REQ navbar to be at top*/
      top: 0;
      z-index: 10; /*to stay on top of horizontal bar */
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden;
      background-color: #090d05;
      box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.2);
    }
    li {
      /*so anchors can take up all extra space*/
      width: 100%;
      height: 100%;
    }
    li a {
      text-decoration: none;
      color: snow; /*text color*/
      display: flex;
      justify-content: center;
      padding: 20px;
      font-size: 20px;
    }
    li a:hover {
      background-color: #d7e360;
      color: green;
      transition: 400ms;
    }




    /* WELCOME SECTION */
    #welcome-section {
      height: 100vh; /* FCC REQ for welcome section height */
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    #welcome-section header {
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
    }
    #welcome-section h1 {
      margin: 0;
      padding: 0;
      font-size: 60px;
      letter-spacing: -3px;
      white-space: nowrap;
      line-height: 70px;
    }
    #welcome-section img {
      width: 100%;
      height: auto; /* keeps original aspect ratio */
      max-width: 500px;
      min-width: 350px;
      padding: 10px;
      border-radius: 100%;
      margin: 10px;
      border: 10px solid #dde3c1;
  
      background-color: white;
    }

    #chicagoskyline {
      width: 100%;
      height: auto; /*keeps original aspect ratio */
      transform: translateY(5px); /* gets rid of fusion line between image and projects section */
    }
  
    /* PROJECTS SECTION */
    #projects {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      border-radius: 0 0 50% 50% / 0 0 3% 3%;
      padding-top: 150px;
      padding-bottom: 150px;
      background-color: #090d05;
      overflow: hidden;
    }
    #projects a:hover {
      color: green;
      box-shadow: 0 4px 15px -1px #d7e360;
      transition: 100ms;
    }
    #projects a {
      text-decoration: none;
    }
    .project-tile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  
      background-color: #f5f7eb;
      color: #90a872;
      min-width: 400px;
      margin: 15px;
  
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  
    .project-tile-img {
      height: auto;
      min-height: 200px;
      max-height: 300px;
      max-width: 400px;
      background-color: gray;
    }
    .project-tile-img img {
      width: 100%;
      height: 100%;
    }
    .project-tile-header {
      font-size: 1.5rem;
      padding: 10px;
    }
  
    #contact {
      min-height: 200px;
      width: 100%;
      background-color: #f5f7eb;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  