/*
https://stackoverflow.com/questions/3858466/css-expanding-based-on-portrait-or-landscape-screen-size

TODO: orientation css only looks at ratio between width and height, therefore need to make desktop portrait media query (bigger width)
*/


/* 
white green         #f5f7eb 
gray green          #90a872 
light gray green    #dde3c1 
black green         #090d05
*/

* {
    /*sizing includes borders*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html,
body {
    background-color: #f5f7eb;
    font-family: Poppins, Arial, sans-serif;
    scroll-behavior: smooth;
    color: #90a872;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


/* ALL OTHERS */

@media only screen {
    h1{
        font-size: 3.5em;
    }
    p{
        font-size: 1.4em;
    }

    hr{
        border-width: 1px;
        color: #090d05;
        background-color: #090d05;
        height: 1px;
        width: 100%;
    }

    /* fixes other anchors not in nav */
    a {
        position: relative;
        text-decoration: none;
    }
    /* ICONS */
    .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon a {
        /* changes size of child icon <i> */
        font-size: 1.8em;
    }
    i {
        color: #90a872;
        /*i uses font-size: inherit; */
    }
    i:hover {
        color: #d7e360;
        transition: 600ms;
    }
    .icon:hover {
        color: green;
        transition: 600ms;
    }
    .icon p {
        font-size: 2em;
        letter-spacing: 4px;
    }
    /*WELCOME SECTION*/
    #welcome-section {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
    }
    #welcome-section header {
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
    }
    #welcome-section h1 {
        margin: 0;
        padding: 0;
        font-size: 8em;
        letter-spacing: -3px;
        white-space: nowrap;
        line-height: 1em;
    }
    #welcome-section p {
        font-size: 2.5em;
    }
    #welcome-section img {
        width: 100%;
        height: auto;
        /* keeps original aspect ratio */
        max-width: 70%;
        min-width: 350px;
        padding: 10px;
        border-radius: 100%;
        margin-left: 30%;
        /* 100% - max-width */
        border: 10px solid #dde3c1;
        background-color: white;
    }

    #chicagoskyline {
        width: 100%;
        height: auto; /*keeps original aspect ratio */
        transform: translateY(5px); /* gets rid of fusion line between image and projects section */
    }

    /* Navigation */
    #navbar {
        width: 100%;
        height: 100%;
        position: sticky;
        /* FCC REQ navbar to be at top*/
        top: 0;
        z-index: 10;
        /*to stay on top of horizontal bar */
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
        background-color: #090d05;
        box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.2);
    }
    li {
        /*so anchors can take up all extra space*/
        width: 100%;
        height: 100%;
    }
    li a {
        text-decoration: none;
        color: snow;
        /*text color*/
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 2.5em;
    }
    li a:hover {
        background-color: #d7e360;
        color: green;
        transition: 400ms;
    }
    /*PROJECTS SECTION*/
    #projects {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: #090d05;
        border-radius: 0 0 50% 50% / 0 0 3% 3%;
        overflow: hidden;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    #projects a:hover {
        color: green;
        box-shadow: 0 4px 15px -1px #d7e360;
        transition: 100ms;
    }
    #projects a {
        text-decoration: none;
    }
    .project-tile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;

        background-color: #273028;
        color: #90a872;
        margin: 25px;
        padding: 20px;
        
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .project-tile-img {
        height: auto;
        width: 100%;
        background-color: gray;
    }
    .project-tile-img img {
        width: 100%;
        height: 100%;
    }
    .project-tile-tags{
        padding-top: 15px;
        padding-bottom: 15px;
      }
    .project-tile-body{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .project-tile-description{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #contact {
        min-height: 50vh;
        width: 100%;
        background-color: #f5f7eb;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #contact h1 {
        font-size: 2.5em;
    }
}